.container {
  background-color: #d6d6d6;
}

.headRow {
  background-color: #fff;
  text-align: center;
}
.row {
  padding: 8px 0;
  background: #fff;
  text-align: center;

  div:nth-of-type(2n) {
    background-color: #e9e9e9;
  }
}


